html{
  scroll-behavior: smooth;
  background-size: auto;
}
                                                /* body */
body{
    padding: 0px;
    margin: 0px;
    /* font-family: 'Padauk', sans-serif; */
    font-family: 'Rampart One', cursive;
    background-image: url(image/back1.jpg);
    
}







                                                    /* header */

/* navbar */

@media only screen and (min-width: 800px){
    header{
        display: flex;
        background-color: #343A40;
        position: sticky;
        top: 0;
        margin: 0;
        opacity: 0.8;

        z-index: 2;
    }
   
    
    .logo{
    
        height: 55px;
        text-align: center;
        padding: 1px 10px 1px 10px;
        font-size: 17px;
        margin: 3px;
    }
    .ul{
        display: flex;
        overflow: auto;
        margin: 0px;
        padding: 0px;
      }
      .li
      {
        float: left;
        list-style: none;
        margin: 0px;
      
       }
    .nav>a{
        display: none;
        }
    .nav{
        display: flex;
    }
    .nav a{
        float: left;
        text-align: center;
        color:white;
        /* margin: 5px; */
        padding: 20px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    
    .nav a:hover{
        background-color: #ddd;
      color: black;
    }
    
     .active {
        background-color: #58aaf7;
        /* padding: 20px; */
        color: white;
      }
    
    
      .dropdown {
        float: left;
        overflow: hidden;
      }
      
      /* Dropdown button */
      .dropdown .dropbtn {
        font-size: 17px;
        border: none;
        /* outline: none; */
        color: white;
        padding: 20px;
        background-color: inherit;
        font-family: inherit; 
        margin: 0px;
      }
      
      /* Add a red background color to navbar links on hover */
      .dropdown:hover .dropbtn {
        background-color: #ddd;
        color: black;
        width: auto;
      }
      
      /* Dropdown content (hidden by default) */
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 2;
      }
      
      /* Links inside the dropdown */
      .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        display: block;
        text-align: left;
      }
      
      
      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown-content {
        display: block;
      }
    
    .search input{
        padding: 10px 15px;
        margin-top: 10px;
        border: 2px solid black;
        border-radius: 55px;
          
    }
    .search{
      display: block;
      justify-content: flex-end;
      size: 5px;
      }
    
    
}

@media only screen and (max-width: 800px){
    header{
      
        background-color: #343A40;
        position: sticky;
        top: 0;
        opacity: 0.8;
        margin: 0;
        z-index: 2;
    }
    .logo{
      /* align-items: center; */
      height: 55px;
      /* text-align: center; */
      padding: 1px 10px 1px 10px;
      font-size: 17px;
      display: block;
      margin: auto;


  }
  .ul{
      display: flex;
      overflow: auto;
      margin: 0px;
      padding: 0px;
      margin: auto;
    }
    .li
    {
      float: left;
      list-style: none;
      margin: 0px;
    
     }
  .nav>a{
      display: none;
      }
  .nav{
      display: flex;
  }
  .nav a{
      float: left;
      text-align: center;
      color:white;
      /* margin: 5px; */
      padding: 20px 16px;
      text-decoration: none;
      font-size: 17px;
  }
  
  .nav a:hover{
      background-color: #ddd;
    color: black;
  }
  
   .active {
      background-color: #58aaf7;
      /* padding: 20px; */
      color: white;
    }
  
  
    .dropdown {
      float: left;
      overflow: hidden;
    }
    
    /* Dropdown button */
    .dropdown .dropbtn {
      font-size: 17px;
      border: none;
      /* outline: none; */
      color: white;
      padding: 20px;
      background-color: inherit;
      font-family: inherit; 
      margin: 0px;
    }
    
    /* Add a red background color to navbar links on hover */
    .dropdown:hover .dropbtn {
      background-color: #ddd;
      color: black;
      width: auto;
    }
    
    /* Dropdown content (hidden by default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 2;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      display: block;
      text-align: left;
    }
    
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
      display: block;
    }
  
  .search input{
      padding: 10px 15px;
      margin-top: 10px;
      border: 2px solid black;
      border-radius: 55px;
        
  }
  .search{
      padding-left: 650px;
  }
     
}











/* head image */

  @media only screen and (min-width: 800px){
    .parallax_top {
        min-height: 430px;
        width: auto;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    
    
}
@media only screen and (max-width: 800px){
    .parallax_top {
        display: none;
      }
    
}






                                             /* main */
main{
    background-image: url(image/back1.jpg);
    background-color: aliceblue;
    /* background-repeat: repeat; */
}


/* main  heading*/

  .heading{
    margin-top: 0px;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgb(71, 16, 16);
    font-style: italic;
  }
  .hr{
    border: 0;  
    padding-top:0px; 
    height: 2px; 
    background-image: linear-gradient( 122.3deg,  rgba(111,71,133,0) 14.6%, rgba(232,129,166,1) 29.6%, rgba(237,237,183,1) 42.1%, rgba(244,166,215,1) 56.7%, rgba(154,219,232,1) 68.7%, rgba(238,226,159,0) 84.8% );
  }
 

 /* main home */



  .block1{
    padding: 20px;
    margin:  0px;
    display: flex;
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
}
.block1 div{
    margin: auto;
    margin-top: 10px;
    
}
.block2{
    
    padding: 20px;
    margin:  0px;
    display: flex;
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
}
.block2 div{
    color: white;
    margin: auto;
    margin-top: 10px;
    
}
.block3{
    padding: 20px;
    margin:  0px;
    display: flex;
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
}
.block3 div{
    margin: auto;
    margin-top: 10px;
    /* color: white; */
    
}
.block4 {
  background-color: #000000;
  margin-top: -20px;
  margin-bottom: -20px;
}


.center{
    text-align: center;
}

.but{
    padding: 10px;
    border: 2px solid #58aaf7 ;
    color: #58aaf7;
    width: 270px;
    transition: all 1s ease-in-out;
}
.but:hover{
  background-color: #58aaf7;
  color: black;
  /* animation: harsh 2s ease-in 1 1 reverse alternate; */
  transform:translateX(15px) ;  
}






/* main form */
.contact{
    display: flex;
    text-align: justify;
    background-color: rgb(68, 67, 67);
    margin: 20px;   
}
.pcontact{
    flex: 1;
    margin: auto;
    text-align: center;  
    color: white;
    font-size: 20px;     
}
@media only screen and (max-width: 800px){
.pcontact{
  display: none;
}
}
.pcontact img{
    padding-bottom: 15px;
}
.cform{
    text-align: center;
    background-color:white;
    margin: 5px;
    padding: 40px;
    flex: 1.5;


}
.main input {
    margin-bottom:20px; 
    padding:5px ;
    font-size:22px;
    background: none;
    width:100%;
    background-color: rgb(189, 217, 226);
}
textarea{
    margin-bottom:20px; 
    padding:5px ;
    width:100%;
    font-size:20px;
    background: none;
    background-color: lightblue;
}
button {
    margin-bottom:20px; 
    padding:5px ;
    font-size:22px;
    background: none;
    width:60%;
}
.parallax_top1 {
    min-height: 260px;
    width: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover    ;
  }












/* main video */
.row{
    display: flex;
    flex-wrap: wrap;
    }
    
    
  @media only screen and (min-width: 800px){
    
    .box{
        border-radius: 5px;
        text-align: center;
        margin: auto;
        margin-top: 5px;
        margin-bottom: 10px;
        background-color: aliceblue;
        /* border:  2px solid black; */
        width: 400px;
        
        box-shadow: 1px 3px 5px  rgb(65, 63, 63);
    }
    .box iframe{
        width:400px;
        height: 315px;
    }
    .box h1{
        position: absolute;
    }
    
    .box a{
        text-decoration: none;
        color: black;
    }

  }

  @media only screen and (max-width: 800px){
    .box{
        border-radius: 5px;
        text-align: center;
        margin: auto;
        margin-top: 5px;
        margin-bottom: 10px;
        background-color: aliceblue;
        /* border:  2px solid black; */
        width: 330px;
        
        box-shadow: 1px 3px 5px  rgb(65, 63, 63);
    }
    .box iframe{
        width:330px;
        height: 315px;
    }
    .box h1{
        position: absolute;
    }
    
    .box a{
        text-decoration: none;
        color: black;
    }


  }


/* main image  */



@media only screen and (min-width: 800px){
  .lib{
    margin: 50px;
    transition: all 1s ease-in-out;
  
  }
  
  .imgbox{
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 20px;
    
   
  }
  .imgbox:hover{
    box-shadow: 5px 5px 5px  rgb(65, 63, 63);
    cursor: pointer;
    transform: scale(1.1);   
  }

.imgbox img{
  width: 250px;
}
.nname{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(247, 243, 243); 
  background: rgba(44, 41, 41, 0.5);
  color: #000000; /* Grey text */
  padding: 15px; 
  border-radius: 5px;
  
}
.contaniar {
display: flex;
/* border: 2px solid black; */
padding: 0;
align-items: center;
margin: auto;

}

.contaniar:hover {
transform: scale(1.1);

}

#bar {
margin-left: -25px;

/* border: 2px solid black; */

}

#bar button {
display: block;
border-radius: 20px;
transform: rotate(90deg);
margin-top: 20px;


}
#bar a{
text-decoration: none;

}

#bar button:hover {
/* box-shadow: 5px 5px 5px  rgb(65, 63, 63); */

}

.READ {
margin-bottom: 100px;
margin-left: -11px;
width: 100%;
background-color: #58aaf7;


}

.READ:hover {
box-shadow: 5px 5px 5px rgb(65, 63, 63);
background-color: #2a8ce7;
}

.PURCHASE {
margin-bottom: 100px;
width: 150%;
margin-left: -36px;
background-color: rgb(247, 72, 72);

}

.PURCHASE:hover {
box-shadow: 5px 5px 5px rgb(65, 63, 63);
background-color: rgb(241, 47, 47);

}

.RENT {
margin-top: 100px;
margin-left: -11px;
width: 100%;

}

.RENT:hover {
box-shadow: 5px 5px 5px rgb(65, 63, 63);

}
}

@media only screen and (max-width: 800px){
  .lib{
    margin: 25px;
    /* border: 2px solid black; */
    transition: all 1s ease-in-out;
  
  }
  
  .imgbox{
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: 10px;
    
   
  }
  .imgbox:hover{
    box-shadow: 3px 3px 3px  rgb(65, 63, 63);
    cursor: pointer;
    transform: scale(1.1);   
  }
  .imgbox img{
    width: 100px;
  
  }
  .nname{
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: rgb(247, 243, 243); 
      background: rgba(44, 41, 41, 0.5);
      color: #000000; /* Grey text */
      padding: 5px; 
      font-size: medium;
      border-radius: 5px;
      
  }
  .contaniar {
    display: flex;
    /* border: 2px solid black; */
    padding: 0;
    align-items: center;
    margin: auto;
  
  }
  
  .contaniar:hover {
    transform: scale(1.1);
  
  }
  
  #bar {
    margin-left: -10px;
    /* border: 2px solid black; */
  
  }
  
  #bar button {
    display: block;
    border-radius: 20px;
    transform: rotate(90deg);
    margin-top: 20px;
  font-size: small;
  
  }
  #bar a{
    text-decoration: none;
  
  }
  
  .READ {
    margin-bottom: 50px;
    margin-left: -11px;
    width: 100%;
    background-color: #58aaf7;
  
  
  }
  
  .READ:hover {
    box-shadow: 3px 3px 3px rgb(65, 63, 63);
    background-color: #2a8ce7;
  }
  
  .PURCHASE {
    margin-bottom: 50px;
    width: 170%;
    margin-left: -31px;
    background-color: rgb(247, 72, 72);
  
  }
  
  .PURCHASE:hover {
    box-shadow: 3px 3px 3px rgb(65, 63, 63);
    background-color: rgb(241, 47, 47);
  
  }
  
  .RENT {
    margin-top: 50px;
    margin-left: -11px;
    width: 100%;
  
  }
  
  .RENT:hover {
    box-shadow: 3px 3px 3px rgb(65, 63, 63);
  
  }
  }
/* main content */

.content{
    border: 2px solid rgb(112, 111, 108);
    margin: 20px;    
    padding:0px 5px;
    text-align: center;    
    box-shadow:2px 3px 1px rgb(194, 180, 154) ;
    
}
.content_color{
    background-color:rgb(216, 212, 207);
}
.head-content{
    margin-bottom: 0px;
}
.content a{
    text-decoration: none;
}

.hr1{
    border: 0;  
    padding-top:0px; 
    height: 5px; 
    background-image: linear-gradient( 122.3deg,  rgba(111,71,133,0) 14.6%, rgba(232,129,166,1) 29.6%, rgba(237,237,183,1) 42.1%, rgba(244,166,215,1) 56.7%, rgba(154,219,232,1) 68.7%, rgba(238,226,159,0) 84.8% );
    margin-bottom: 10px;
  }
#content{
    padding-bottom: 50px;
}










                                                    /* footer */



.footer{
  background-color: #343A40;
  padding: 20px;
  font-size: 17px;
  font-family: Open Sans,Helvetica,Arial,sans-serif;
  font-weight: bold;
  }
 .footer a{
  text-decoration: none;
  /* color: white; */
  font-size: 12px;   
  }
   
  .foot{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: -30px;
  }
  .foot div {
    /* border: 2px solid black; */
    margin: 2px;
    color: black;
  }


  .size::before {
    /* content: "\f16d"; */
    font-size: 35px;
    /* color: ; */
    padding: 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    /* size: 35px; */
}
  
.copyright{
  background-color: #0c0c0c;
  color: #eae6e6;
  margin: 0;
  padding: 10px;
}
  

/* doddles */
#doddle{
  width: 20%;
  height: 20%;
  /* display: ; */
  position: ;
  align-self: flex-end;
  margin-bottom: -20px;
}

.copyright a{
  text-decoration: none;
  color: white;
}